body{
    background: rgb(34,34,38)
    
}

.container{
    height: 100%;
    position: relative;
    margin-top: 15%;
}

.text-input{
    text-align: center;
    
}

.form-controller{
    margin-top: 25px;
    width: 100%;
    max-width: 800px;
    padding: 0.375rem 0.75rem;
    color: #000000;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    outline:none;
    box-shadow: rgba(255, 255, 255, 0.322) 0px 0px 30px ;
}




.main-text{
    color: rgb(205, 206, 207);
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    margin-bottom: 5px;
    text-decoration: underline 1px rgba(205, 206, 207, 0.253);
}

.radio-inputs{
    text-align: center;
}

/* Радио кнопки */
.form_radio_btn {
	display: inline-block;
    padding-top: 15px;
}
.form_radio_btn input[type=radio] {
	display: none;
    
}
.form_radio_btn label {
	display: inline-block;
	cursor: pointer;
    color: rgb(223, 225, 226);
	padding: 0px 15px;
	line-height: 34px;
	border: 1px solid #c0bfbf57;
	border-radius: 10px;
	user-select: none;
    transition: .5s;
    /* background: #f3f3f357; */
    font-size: 18px;

}
 
/* Checked */
.form_radio_btn input[type=radio]:checked + label {
    background: #f3f3f357;

}
 
/* Hover */
.form_radio_btn label:hover {
    background: #f3f3f357;

}

 
/* Disabled */
.form_radio_btn input[type=radio]:disabled + label {
	background: #efefef;
	color: #666;
}





.sbmt-btn{
    margin-top: 40px;
    border-radius: 10px;
    height: 45px;
    width: 125px;
    font-size: 20px;
    border: rgb(223, 225, 226) solid 1px;
    background: none;
    color: rgb(223, 225, 226);
    transition: .5s;
    margin-left: -5px;
}
.sbmt-btn:hover{
    background: rgba(223, 225, 226, 0.164);
}




.info-btn-block{
    position: fixed;
    bottom: 10px;
    background-color: none;
    align-items: center;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 45px;
    width: 125px;
    text-align: center;
    border-radius: 10px;
    padding: 1px;

    overflow: hidden;
    z-index: 1;
}

/* .info-btn-block::after, */
.info-btn-block::before
{
    content: '';
    position: absolute;
    width: 50%;
    height: 150%;
    background: radial-gradient(rgb(247, 52, 247),rgb(25, 0, 255));
    z-index: -5;
    left: 50%;
    top: 50%;
    transform-origin: top left;
    animation: nice-border 6s infinite linear;
    
}
/* .info-btn-block::after
{
    left: -30%;
    top: -40%;
    transform-origin: bottom right;
    
} */

@keyframes nice-border {
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}








.info-btn{
    margin: 1px;
    border-radius: 10px;
    background-color: rgb(223, 224, 224);
    line-height:35px;
    height: 95%;
    width: 99%;
    text-align: center;
    /* border: rgb(223, 225, 226) solid 1px; */
    transition: .5s;
    border: none;
}

.info-btn:hover{
    background-color: rgb(153, 155, 156);
    cursor: pointer;
}




.info-block{
    position: fixed;
    width: 90%;
    height: 90%;
    background-color: #666;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    z-index: 2;
    max-height: 650px;
    max-width: 470px;
    border-radius: 15px;
    color: rgba(216, 214, 214, 0.932);
    display: none;
    transition: .5s;
}

.info-header{
    border-bottom: #505050 solid 1px;
    height: 35px;
    width: 100%;
    font-size: 28px;
}

.info-header-name{
    text-align: center;
}

.info-header-escape{
    position: absolute;
    top: 0;
    right: 20px;
    transition: .5s;
}
.info-header-escape:hover{
    transform: rotate(90deg);
    color: rgb(153, 155, 156);
    cursor: pointer;
}

.over-info-text{
    height: 100%;
}

.info-text{
    font-size: 20px;
    text-indent:20px;
    margin: 10px;
    overflow-y: scroll;
    height:87%;
}

.info-text p{
    margin: 0;
}
.info-text p .fa-greater-than{
    font-size: 13px;
    margin-left: -17px;
}



@media screen and (max-width: 450px){
    .info-text{
        height: 90%;
    }
    .info-header{
        font-size: 24px;
    }
    .info-header-name{
        margin-left: 10px;
        text-align: left;
    }
}

@media screen and (max-width: 350px){
    
    .info-header{
        font-size: 18px;
    }
}

@media screen and (max-width: 270px){
    
    .info-header{
        font-size: 14px;
    }
}



::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.25); */
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: rgba(255, 255, 255, 0.75);
        cursor: pointer;
    }


.alert-span{
    border: solid 1px;
    border-radius: 5px;
    padding: 2px 5px;
    box-shadow: 0px 0px 5px 1px;
    margin: 0px;
    font-size: 20px;
    display: none;
    text-align: initial;
    padding: 0 50px;
}

.red-alert{
    color: #d24848;
    width: fit-content;
    list-style: none;
    /* display: inline-block; */
}
.green-alert{
    color: #48d266;
}
.li-exceptions{
    display: none;
}
